name: Deploy
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy
    steps:
      - uses: actions/checkout@v4
      - name: Deploy
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          # Optional: You can specify an account ID if it's not in wrangler.toml
          # accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }} 
          # Optional: You can specify a command, defaults to "deploy"
          # command: publish --env production 
